<!DOCTYPE html>
<html lang="pt-br" xml:lang="pt-br" class="">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="">

    <!-- Bootstrap CSS CDN -->
    {% load static %}
    <link rel="stylesheet" href="{% static "coordenacao/css/bootstrap.min.css"%}">
    <link rel="stylesheet" href="{% static "coordenacao/css/style-home-aluno-professor.css"%}">


</head>

<body>

    <div class="wrapper">
        <!-- Sidebar DETALHE: A NAVBAR DE PROFESSOR É DIFERENTE. USE navbar-professor.html  -->
        {% include "coordenacao/professor/navbar-professor.html" %}
       
        <div id="conteudo">
          <div id="table1">
            <H5>Lista de Disciplinas Lecionadas no Semestre</H5>
              <table id = "first">
                {% comment %} <!--  {% for disciplina in disciplinas %}  --> {% endcomment %}
                <tr>
                  <td>Disciplina X</td>
                </tr>
                {% comment %} <!--  {% endfor %}  --> {% endcomment %}
                
              </table>
          </div>  
            


          <div id="table2">
            <H5>Lista de Tarefas Sem Nota</H5>

            {% comment %} <!-- {% if tarefas %} --> {% endcomment %}
            <table id = "second">
              <thead>
                  <tr>
                      <th>Atividades</th>
                      <th>Disciplina</th>
                      <th>Data de Entrega</th>
                  </tr>

                  {% comment %} <!--  {% for aluno in alunos %}  --> {% endcomment %}
                  <tr>
                      <td>atividade 4</td>
                      <td>ESTRUTURA DE DADOS</td>
                      <td>14/05/22</td> 
                  </tr>
                 {% comment %} <!--  {% endfor %}  --> {% endcomment %}

              </thead>
          </table>
          {% comment %} {% endif %} {% endcomment %}

          </div>  

        </div>
    </div>



</body>

</html>