<!DOCTYPE html>
<html lang="pt-br" xml:lang="pt-br" class="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Disciplinas - Professor</title>
    <!-- Bootstrap CSS CDN -->
    {% load static %}
    <link rel="stylesheet" href="{% static "coordenacao/css/bootstrap.min.css"%}">
    <link rel="stylesheet" href="{% static "coordenacao/css/style01.css"%}">
    <link rel="shortcut icon" href="{% static "coordenacao/css/school.ico"%}">
<body>
  <div class="wrapper">
      <!-- Sidebar  -->
      {% include "coordenacao/professor/navbar-professor.html" %}
        <div id="conteudo">
          <br>
            <div id="table2">    <!--Mudar arquivo da tabela e propriedades no CSS para funcionar -->
                <div id="title">
                    <H5>Disciplinas Ofertadas</H5>
                  </div>
                  <br>            
                <table class = "table">                                             
                  <tbody>
                    {% if ofertas %} 
                    {% for oferta in ofertas %}                                                                                                          
                          <tr>
                            <td><h2>{{oferta}}</h2></td>   <!--  Editar espaçamento da celula da tabela no style.css linha 242.  -->  
                            <td>
                              <h5>{{oferta.count_alunos}} alunos</h5>
                              <h5>{{oferta.count_atividades}} atividades</h5> 
                            </td>
                            <td>
                                 <div class="text-right col-lg-10">
                                  <a href="{% url 'view_oferta' id_param=oferta.id %}">
                                 <button type="submit" class="btn btn-primary mb-3">Abrir</button>
                                  </a> 
                                </div>
                            </td>
                          </tr>  
                          {% endfor %} 
                        {% else %}
                        <H6>Sem disciplinas.</H6>
                        {% endif %}                               
                    </tbody>
              </table>
              
            </div> 
        </div>
    </div>
</body>
</html>