<nav id="sidebar">
    <div class="sidebar-header">
        <h3>{{request.session.user_name}}</h3>
    </div>

    <ul class="list-unstyled components">


        <li>
            <a href="{% url 'home' %}">Home</a>
        </li>

        <li>
            <a href="perfil-professor.html">Perfil</a>
        </li>
        <li>
            <a href="#3">Disciplinas</a>
        </li>

        <li>
            <a href="#4">Calendário</a>
        </li>
    </ul>
    <li>
        <a href="{% url 'logout' %}" class="article">TELA LOGIN</a>
    </li>
    </ul>
</nav>