<!DOCTYPE html>
<html lang="pt-br" xml:lang="pt-br" class="">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="">

    <!-- Bootstrap CSS CDN -->
    {% load static %}
    <link rel="stylesheet" href="{% static "coordenacao/css/bootstrap.min.css"%}">
    <link rel="stylesheet" href="{% static "coordenacao/css/style.css"%}">

</head>

<body>

    <div class="wrapper">

        <!-- Sidebar  -->
        {% include "coordenacao/coordenador/navbar-coordenador.html" %}
        
        <div id="conteudo">
            <div id="table-form">
                <div id="title">
                    <H5>Cadastrar Novo Aluno</H5>
                </div>
                {% if msg %}
                <div id="title">
                  <H6>{{msg}}</H6>
              </div>
                {% endif %}
                <form method="post" action="{% url 'create_aluno' %}">
                  {% csrf_token %}
                    <div class="form-group row">
                        <label for="nome" class="col-sm-2 col-form-label">Nome</label>
                        <div class="col-sm-10">
                          <input type="text" required="True"  class="form-control" id="nome" name="nome" placeholder="Nome">
                        </div>
                      </div>
                    <div class="form-group row">
                      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                      <div class="col-sm-10">
                        <input type="email" required="True" class="form-control" id="inputEmail3" name="email" placeholder="Email">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="telefone" class="col-sm-2 col-form-label">Telefone:</label>
                      <div class="col-sm-10">
                        <input type="text" required="True" class="form-control" id="telefone" name="telefone" placeholder="Telefone">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="cpf" class="col-sm-2 col-form-label">CPF</label>
                      <div class="col-sm-10">
                        <input type="text" required="True" class="form-control" id="cpf" name="cpf" placeholder="CPF">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="curso" class="col-sm-2 col-form-label">Curso</label>
                      <div class="col-sm-10">
                      {% if cursos %}
                        <select id="curso" required="True"  name="curso" class="form-control">
                          <option selected>Escolher...</option>
                          {% for curso in cursos %}
                          <option value={{curso.id}}>{{curso}}</option>
                          {% endfor %}
                      </select>
                      {% else %}
                      <input type="text" required="True" class="form-control" id="curso" name="curso" placeholder="'Sistemas de Informação'">
                      {% endif %}
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="periodo" class="col-sm-2 col-form-label">Período de Ingresso</label>
                      <div class="col-sm-10">
                        <input type="text" required="True" class="form-control" id="periodo"  name="periodo" placeholder="Período">
                      </div>
                    </div>
                    <div class="form-group">
                        <label for="endereco">Endereço</label>
                        <input type="text" required="True" class="form-control" id="endereco"  name="endereco"  placeholder="Rua, Avenida...">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                        <label for="cidade">Cidade</label>
                        <input type="text" required="True" class="form-control" id="cidade"  name="cidade">
                        </div>
                        <div class="form-group col-md-4">
                        <label for="estado">Estado</label>
                        <select id="estado" required="True"  name="estado" class="form-control">
                            <option selected>Escolher...</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                            <option value="EX">Estrangeiro</option>
                        </select>
                        </div>
                            <div class="form-group col-md-2">
                            <label for="bairro">Bairro</label>
                            <input type="text" required="True" name="bairro" class="form-control" id="bairro">
                        </div>
                    <div class="text-right col-lg-12">
                        <button type="submit" class="btn btn-primary mb-2">Enviar</button>
                    </div>
                    
                  </form>
            </div> 
        </div>
    </div>



</body>

</html>