<!DOCTYPE html>
<html lang="pt-br" xml:lang="pt-br" class="">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="">

    <!-- Bootstrap CSS CDN -->
    {% load static %}
    <link rel="stylesheet" href="{% static "coordenacao/css/bootstrap.min.css"%}">
    <link rel="stylesheet" href="{% static "coordenacao/css/style.css"%}">
    <link rel="shortcut icon" href="{% static "coordenacao/images/school.ico"%}">


</head> 

<body>

    <div class="wrapper">
        <!-- Sidebar -->
        {% include "coordenacao/coordenador/navbar-coordenador.html" %}
       
        <div id="conteudo">
          <div id="dados-pessoa">
            {% if user %}
            <H5>Dados Pessoais</H5>
              <h6>Nome: {{user.nome}}</h6>
              <h6>E-mail: {{user.email}}</h6>
              <h6>Telefone: {{user.telefone}}</h6>
              <h6>Endereço: {{user.endereco}}</h6>
              <h6>Bairro: {{user.bairro}}</h6>
              <h6>Cidade: {{user.cidade}}</h6>
              <h6>Estado: {{user.estado}}</h6>
              <div class="text-right">
                <a class="btn btn-primary mb-2" href="{% url 'form_perfil' %}" role="button">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true">Editar</span>
                </a>
              </div>
            {% endif %}
          </div>  

        </div>
    </div>



</body>

</html>