<!DOCTYPE html>
<html lang="pt-br" xml:lang="pt-br" class="">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="">

    <!-- Bootstrap CSS CDN -->
    {% load static %}
    <link rel="stylesheet" href="./css/bootstrap.min.css">

    <link rel="stylesheet" href="./css/style.css">


</head> 

<body>

    <div class="wrapper">
        <!-- Sidebar PROFESSOR AQUI  -->
        {% include "coordenacao/navbar.html" %}
       
        <div id="conteudo">
          <div id="table2">

            <form method="POST">
            <div class="form-group rowatv">

              <div> 
                <h5>Frequência</h5> 
              </div>
              <div>  
                <h6 >Selecionar Data</h6>
                <input class="btn btn-primary mb-2" id="date-freq" type="date">
              </div>

            </div>
            
            
            <!-- {% if  %} -->
            <table id = "freq">
              <thead>
                  <tr>                      
                    <th>Alunos</th>
                    <th style="text-align: right;">Presente</th>
                  </tr>

                  <!--  {% for disciplina in  %}  -->
               
                    <tr>
                      <td>João Victor</td>
                      <td style="text-align: right;">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault"> </label>
                        </div>
                      </td>
                     
                    </tr>
                    
                 <!--  {% endfor %}  -->
              </thead>

              
          </table>
            
            <div class="text-right col-lg-12">
              <button type="submit" class="btn btn-primary mb-2">Cadastrar</button>
            </div>

          </form>
          </div>  

        </div>
    </div>

</body>

</html>