<!DOCTYPE html>
<html lang="pt-br" xml:lang="pt-br" class="">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="">

    <!-- Bootstrap CSS CDN -->
    {% load static %}
    <link rel="stylesheet" href="./css/bootstrap.min.css">

    <link rel="stylesheet" href="./css/style.css">


</head> 

<body>

    <div class="wrapper">
        <!-- Sidebar DETALHE: A NAVBAR DE PROFESSOR É DIFERENTE. USE navbar-professor.html  -->
        {% include "coordenacao/navbar.html" %}
       
        <div id="conteudo">
          <div id="dados-pessoa">
            <H5 id="titulo-periodo">Período 2020.1</H5>
              <h6>Período: </h6>
              <h6>Data de Início:</h6>
              <h6>Data de Término: </h6>
            
          </div>  
            


          <div id="table2">
            
            <!-- {% if  %} -->
            <table id = "second">
              <thead>
            
                  <!--  {% for disciplina in  %}  -->
                  <tr>
                    <td>Disciplina 1</td>
                    <td>Professor 1</td>
                    <td>  
                        <div class="text-right">
                            <a class="btn btn-primary mb-2" href="alunos" role="button">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true">alunos</span>
                            </a>

                            <a class="btn btn-primary mb-2" href="editar" role="button">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true">editar</span>
                            </a>
                          </div>
                    
                    
                    </td>


                    
                  </tr>
                 <!--  {% endfor %}  -->

              </thead>
          </table>


          </div>  

        </div>
    </div>



</body>

</html>