<!DOCTYPE html>
<html lang="pt-br" xml:lang="pt-br" class="">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="">

    <!-- Bootstrap CSS CDN -->
    {% load static %}
    <link rel="stylesheet" href="{% static "coordenacao/css/bootstrap.min.css"%}">
    <link rel="stylesheet" href="{% static "coordenacao/css/style.css"%}">
    <link rel="shortcut icon" href="{% static "coordenacao/images/school.ico"%}">


</head> 

<body>

    <div class="wrapper">
        <!-- Sidebar DETALHE: A NAVBAR DE PROFESSOR É DIFERENTE. USE navbar-professor.html  -->
        {% include "coordenacao/aluno/navbar-aluno.html" %}
       
        <div id="conteudo">


          <div id="table2">
            
            
            {% if ofertas %}
            <form request="post" action="">
            <table id = "second">
              <thead>
                  <header style="text-align: center;">Lista de Disciplinas disponíveis no Semestre</header>
                  <tr>
                    <td>Disciplina</td>
                    <td>Horário</td>
                    <td>Dias</td>
                    <td>Périodo</td>
                    <td>Matricular-se</td>                    
                  </tr>
              </thead>
              <tbody>
                    {% for oferta in ofertas %}
                    <tr>
                    <td>{{oferta.disciplina}}</td>
                    <td>{{oferta.aula_hora_inicio|date:"G:i"}} - {{oferta.aula_hora_fim|date:"G:i"}}</td>
                    <td>{{oferta.aula_dias}}</td>
                    <td>{{oferta.periodo}}</td>
                    <td>  
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="{{oferta.id}}">
                      </div>
                    </td>
                  </tr>
                    {% endfor %}
              </tbody>
              {% else %}
              {% endif %}

              
          </table>


          </div>  


          <div id="table2">
            
            
            <table id="second">
              <thead>
                <tr>
                  <th></th>
                    <th>Segunda</th>
                    <th>Terça</th>
                    <th>Quarta</th>
                    <th>Quinta</th>
                    <th>Sexta</th>
                </tr>

             
                  <!--if horarioxdisciplina==7hr-->
                  <tr>    
                    <th>7:00</th>
                    <td>disciplina</td> <!--SEGUNDA-->
                    <td>teste</td><!--TERÇA-->
                    <td>teste3</td><!--QUARTA-->
                    <td>teste4</td><!--QUINTA-->
                    <td>teste5</td><!--SEXTA-->
                  </tr>

                  
                  

            </thead>
            
            </table>

            <div class="text-right col-lg-12">
              <button type="submit" class="btn btn-primary mb-2">Salvar</button>
          </div>
          

          </div>

        </div>
    </div>



</body>

</html>