<nav id="sidebar">
    <div class="sidebar-header">
        <h3>{{request.session.user_name}}</h3>
    </div>

    <ul class="list-unstyled components">


        <li>
            <a href="{% url 'home' %}">Home</a>
        </li>

        <li>
            <a href="{% url 'view_perfil' %}">Perfil</a>
        </li>
        
        <li>
            <a href="#3">Boletim</a>
        </li>

        <li>
            <a href="#4">Certificados</a>
        </li>

        <li>
            <a href="{% url 'ofertas' %}">Matrícula</a>
        </li>

        <li>
            <a href="#6">Calendário</a>
        </li>
    </ul>
    <li>
        <a href="{% url 'logout' %}" class="article">LOGOUT</a>
    </li>
    </ul>
</nav>