apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "sistema-matricula.fullname" . }}
  labels:
    {{- include "sistema-matricula.labels" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "sistema-matricula.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "sistema-matricula.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - name: http
          containerPort: 8000
          protocol: TCP
        envFrom:
        - secretRef:
            name: {{ include "sistema-matricula.fullname" . }}-db-secret
        livenessProbe:
          httpGet:
            path: /
            port: http
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: http
          initialDelaySeconds: 20
          periodSeconds: 5
        resources:
          {{- toYaml .Values.resources | nindent 12 }}